body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  position: absolute;
  height: 100vh;
  width: 100vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-block {
  transition-property: height;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.result-text {
  color: white;
  font-size: 1.5rem;
  margin: 10px;
}

.play-again {
  font-size: 1rem;
  padding: 10px;
  color: white;
  border-width: 0;
  font-weight: 700;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}
